
@{
    ViewBag.Title = "Registro eliminado";
}
<h2 style="text-align:center; font-family:Arial; font-weight:700;">Registro eliminado!</h2>
<center><a class="btn btn-success" href="~/DetalleCotizacion/Index"><span>Regresar</span></a></center>
