
@{
    ViewBag.Title = "Eliminar Envio";
}
<center>
<h2 style="text-align:center; font-family:Arial; font-weight:700;">Envío eliminado correctamente</h2>
    <a class="btn btn-info" href="~/Envio/Index">Regresar</a>
</center>
