@model List<Model.Entity.Pais>
@{
    ViewBag.Title = "Lista de Países";
}

<h2 style="text-align:center; font-family:Arial; font-weight:700;">Países disponibles</h2>
<h4 style="text-align:center; font-family:Arial; ">Filtrar por nombre:</h4>
<center>
    @using (Html.BeginForm())
    {
    <div class="row col-md-12">
        <div class="col-md-4">

        </div>
        <div class="col-md-4">
            @Html.TextBox("txtParametro", "", new { @class = "form-control" })
        </div>
        <div class="col-md-4">

        </div>
    </div>
        <input type="submit" value="Buscar" />
    }
</center>

    <center>
        <br />
        <a class="btn btn-success" href="~/Pais/AgregarPais">Agregar</a>
        <table class="table">
            <thead>
                <tr class="bg-primary">
                    <th>ID País</th>
                    <th>Nombre</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var objPais in Model)
                {
                    <tr>
                        <td>@objPais.IdPais</td>
                        <td>@objPais.NombrePais</td>
                        <td><a class="btn btn-info" href="~/Estado/Index?idPais=@objPais.IdPais"><span class="glyphicon glyphicon-eye-open">|Estados</span></a></td>
                        <td><a class="btn btn-warning" href="~/Pais/EditarPais?idPais=@objPais.IdPais"><span class="glyphicon glyphicon-pencil">|Editar</span></a></td>
                        <td><a class="btn btn-danger" href="~/Pais/EliminarPais?idPais=@objPais.IdPais"><span class="glyphicon glyphicon-alert">|Eliminar</span></a></td>
                    </tr>
                }

            </tbody>
        </table>
    </center>
