@{
    ViewBag.Title = "_LayoutMy";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@Lenguaje.Recurso.Inicio_de_sesion</title>
    <link rel="shortcut icon" href="~/Utilidades/Imagenes/logo conceptos Icon.png">
    <!-- Bootstrap Core CSS -->
    <link href="~/Assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <!-- MetisMenu CSS -->
    <link href="~/Assets/metisMenu/metisMenu.min.css" rel="stylesheet" />
    <!-- Custom CSS -->
    <link href="~/Css/sb-admin-2.css" rel="stylesheet" />
    <!--<link href="~/Content/login.css" rel="stylesheet" type="text/css">-->
    <!-- Morris Charts CSS -->
    <link href="~/Assets/morrisjs/morris.css" rel="stylesheet" />
    <!-- Custom Fonts -->
    <link href="~/Assets/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Los iconos tipo Solid de Fontawesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

</head>
<body>


    <div class="row">
        @RenderBody()
    </div>


    <!-- /#page-wrapper -->
    <!-- /#wrapper -->
    <!-- jQuery -->
    <script src="~/Assets/jquery/jquery-3.2.1.min.js"></script>
    <script src="~/Assets/jquery/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="~/Assets/bootstrap/js/bootstrap.min.js"></script>
    <!-- Metis Menu Plugin JavaScript -->
    <script src="~/Assets/metisMenu/metisMenu.min.js"></script>
    <!-- Morris Charts JavaScript -->

    <script src="~/Assets/morrisjs/morris.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="~/Js/sb-admin-2.js"></script>


</body>
</html>
